.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: 'Lato', sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@500&family=Roboto:wght@400;500;900&family=Source+Sans+Pro:wght@300;400;600&display=swap');

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
} ::-webkit-scrollbar-thumb:hover {
  background: #4c4c4c; 
}